/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*----- GOOGLE FONTS -----*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;700&family=Ubuntu:wght@400;500;700&display=swap");

/*----- GENERAL STYLES -----*/
body {
    color: #141414;
    background-color: #96adc8;
    font-family: "Fira Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Ubuntu", sans-serif;
}

/*----- THEMES -----*/
.theme__shadow--mercedes {
    color: #000;
    /*found at https://css-tricks.com/almanac/properties/t/text-shadow/ and adapted to my color schemes */
    text-shadow: 1px 0px 1px #c0c0c0, 0px 1px 1px #eee, 2px 1px 1px #c0c0c0, 1px 2px 1px #eee,
        3px 2px 1px #c0c0c0, 2px 3px 1px #eee, 4px 3px 1px #c0c0c0, 3px 4px 1px #eee,
        5px 4px 1px #c0c0c0, 4px 5px 1px #eee, 6px 5px 1px #c0c0c0, 5px 6px 1px #eee,
        7px 6px 1px #c0c0c0;
}

.theme__btn--mercedes {
    background-color: #000;
    color: #c0c0c0;
}

.theme__btn--mercedes:hover {
    color: #e5e7e6;
    border: 3px #c0c0c0 solid;
}

.theme__shadow--redbull {
    color: #001e3c;
    text-shadow: 1px 0px 1px #fcd800, 0px 1px 1px #fff3ad, 2px 1px 1px #fcd800, 1px 2px 1px #fff3ad,
        3px 2px 1px #fcd800, 2px 3px 1px #fff3ad, 4px 3px 1px #fcd800, 3px 4px 1px #fff3ad,
        5px 4px 1px #fcd800, 4px 5px 1px #fff3ad, 6px 5px 1px #fcd800, 5px 6px 1px #fff3ad,
        7px 6px 1px #fcd800;
}

.theme__btn--redbull {
    background-color: #001e3c;
    color: #fcd800;
}

.theme__btn--redbull:hover {
    color: #fff3ad;
    border: 3px #d7061e solid;
}

.theme__shadow--mclaren {
    color: #1e2d7a;
    text-shadow: 1px 0px 1px #ff8700, 0px 1px 1px #ffe2c2, 2px 1px 1px #ff8700, 1px 2px 1px #ffe2c2,
        3px 2px 1px #ff8700, 2px 3px 1px #ffe2c2, 4px 3px 1px #ff8700, 3px 4px 1px #ffe2c2,
        5px 4px 1px #ff8700, 4px 5px 1px #ffe2c2, 6px 5px 1px #ff8700, 5px 6px 1px #ffe2c2,
        7px 6px 1px #ff8700;
}

.theme__btn--mclaren {
    background-color: #ff8700;
    color: #1e2d7a;
}

.theme__btn--mclaren:hover {
    color: #101842;
    border: 3px #443e47 solid;
}

.theme__btn--default {
    background-color: #cfe2ff;
    color: #000;
}

.theme__btn--default:hover {
    background-color: #cfe2ff;
    color: #3d3d3d;
    border: 3px #fff solid;
}

.theme__btn--mercedes,
.theme__btn--redbull,
.theme__btn--mclaren,
.theme__btn--default {
    font-size: 18px;
}

/*----- TEXT AND IMAGE EFFECTS -----*/
.text__shadow--light {
    text-shadow: 1px 1px 2px #c0c0c0;
}

.text__shadow--dark {
    text-shadow: 1px 1px 2px #5c5c5c;
}

/* got the code snippet from @Amy_OShea_lead and adapted it slightly */
.img__shadow {
    -webkit-box-shadow: 0px 8px 10px rgba(149, 157, 165, 1);
    box-shadow: 0px 8px 10px rgba(149, 157, 165, 1);
}

.portrait__border {
    border: 3px #4e657e ridge;
}

/*----- CARDS -----*/
/* Bootstrap classname! Do not rename */
.card-body {
    min-width: 210px;
    min-height: 136px;
    background-color: #e6f4f1;
}

.schedule__location,
.schedule__times {
    border: 10px #4e657e ridge;
}

/*----- TABLES -----*/
#hideOnMobile {
    display: none;
}

caption,
.match-caption {
    color: #303030;
}

/*----- SOCIAL MEDIA ICONS -----*/
.footer__socialmedia {
    color: #fff;
}

/* Font Awesome classname! Do not rename */
.fab {
    font-size: 1.5em;
    margin-top: 10px;
}

/*----- CONTACT PAGE -----*/
.contact--bg {
    min-height: 100vh;
    background: url("../images/jake-givens-freeway-traffic.jpg") no-repeat 50% 50%;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.form__add-opacity {
    background-color: rgba(255, 255, 255, 0.3);
}

.text--bigger-font {
    font-size: 1.5em;
}

/* ---------- MEDIA QUERIES ---------- */
@media screen and (min-width: 768px) {
    #hideOnMobile {
        display: table-cell;
    }
    #prevCard,
    #currentCard,
    #nextCard {
        min-height: 150px;
    }
    .schedule__card {
        min-height: 408.97px;
        min-width: 250px;
    }
}

@media screen and (min-width: 1024px) {
    #prevCard,
    #currentCard,
    #nextCard {
        min-width: 270px;
    }
    .schedule__card {
        min-height: 471.8px;
        min-width: 270px;
    }
}

@media screen and (min-width: 1440px) {
    #prevCard,
    #currentCard,
    #nextCard {
        min-width: 320px;
    }
    .schedule__card {
        min-height: 610.89px;
        min-width: 300px;
    }
}

@media screen and (min-width: 2400px) {
    #prevCard,
    #currentCard,
    #nextCard {
        min-width: 400px;
    }
    .schedule__card {
        min-height: 620.27px;
        min-width: 350px;
    }
    .placeholder-image {
        max-height: 434px;
    }
}
